export("REFA")
export("REFA_FN")
export("FA")
export("est_num")
export("TR")
export("ECC")
export("gendata")
importFrom("stats", "rnorm")
importFrom("stats", "rt")
importFrom("stats", "nlm")
importFrom("stats", "quantile")
importFrom("stats", "median")
importFrom("mvtnorm", "rmvnorm")
import(mvtnorm)
